#  Python language - foundation

## 1 Python Data Type

### 1.1 string

The character set enclosed in quotation marks in Python is called a string, for example: 'hello', "my Python", "2+3", etc. are all strings
The quotation marks used in strings in Python can be single quotation marks, double quotation marks and triple quotation marks

In [1]:
print ('hello world!')

hello world!

In [2]:
c = 'It is a "dog"!'
print (c)

It is a "dog"!

In [3]:
c1= "It's a dog!"
print (c1)

It's a dog!

In [4]:
c2 = """hello
world
!"""
print (c2)

hello
world
!

- Escape character '\'

The escape character \ can escape many characters, such as \n means newline, \t means tab, and the character \ itself should be escaped, so the character represented by \\ is \

In [5]:
print ('It\'s a dog!')
print ("hello world!\nhello Python!")
print ('\\\t\\')

It's a dog!
hello world!
hello Python!
\	\

To output the string within the quotation marks as it is, you can use r before the quotation marks

In [6]:
print (r'\\\t\\')

\\\t\\

- Sub-string and its operations

In [12]:
s = 'Python'
print( 'Py' in s)

print( 'py' in s)

True
False

There are two ways to get a substring, using the [] index or the slicing algorithm [:], these two methods are very widely used.

In [15]:
print (s[2])

t

In [16]:
print (s[1:4])

yth

- String concatenation and formatted output

In [10]:
word1 = '"hello"'
word2 = '"world"'
sentence = word1.strip('"') + ' ' + word2.strip('"') + '!'

print( 'The first word is %s, and the second word is %s' %(word1, word2))
print (sentence)

The first word is "hello", and the second word is "world"
hello world!

### 1.2 Integers and floating numbers

#### Intergers

Python can handle integers of any size (it is depends on computer), including negative integers.

In [11]:
i = 7
print (i)

7

In [12]:
7 + 3

10

In [13]:
7 - 3

4

In [14]:
7 * 3

21

In [15]:
7 ** 3

343

In [1]:
7 / 3  #After #Python3, there is no difference between integer and float number division

2.3333333333333335

In [17]:
7 % 3

1

In [18]:
7//3

2

#### Flaot number

In [19]:
7.0 / 3

2.3333333333333335

In [20]:
3.14 * 10 ** 2

314.0

In [56]:
0b1111 #binary

15

In [22]:
0xff #Hexadecimal

255

In [2]:
1.2e-5 #Scientific notation

1.2e-05

More operations

In [4]:
import math

print (math.log(math.e)) # Please check the "math" document

1.0

### 1.3 Boolean

In [25]:
True

True

In [26]:
False

False

In [27]:
True and False

False

In [28]:
True or False

True

In [29]:
not True

False

In [30]:
True + False

1

In [31]:
18 >= 6 * 3 or 'py' in 'Python'

True

In [32]:
18 >= 6 * 3 and 'py' in 'Python'

False

In [33]:
18 >= 6 * 3 and 'Py' in 'Python'

True

### 1.4 Date time

In [5]:
import time

d = time.strptime('2016-07-20', '%Y-%m-%d')
print (d)

time.struct_time(tm_year=2016, tm_mon=7, tm_mday=20, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=202, tm_isdst=-1)

In [6]:
time.strftime('%Y-%m-%d', d)

'2016-07-20'

In [36]:
import datetime

someDay = datetime.date(1999,2,10)
anotherDay = datetime.date(1999,2,15)
deltaDay = anotherDay - someDay
deltaDay.days

5

there are other datatime
![](images/datatime_format.jpg)

- Variable type

In [7]:
type(None)

NoneType

In [8]:
type(1.0)

float

In [9]:
type(True)

bool

In [10]:
s="NoneType"
type(s)

str

- Type conversion

In [11]:
str(10086)

'10086'

In [43]:
float(10086)

10086.0

In [44]:
int('10086')

10086

In [13]:
complex(10086)

(10086+0j)

## 2 Python data structure

list, tuple, set, dict

### 2.1 list

A container used to store a series of elements, the list is represented by [], and the types of elements can be vary.

In [56]:
mylist= [0, 1, 2, 3, 4, 5]
print (mylist)

[0, 1, 2, 3, 4, 5]

indexing and slicing

In [57]:
# index starts from 0
print ('[4]=', mylist[4])
print ('[-4]=', mylist[-4])
print ('[0:4]=', mylist[0:4])
print ('[:4]=', mylist[:4])#dddd
print( '[4:]=', mylist[4:])
print ('[0:4:2]=', mylist[0:4:2])
print ('[-5:-1:]=', mylist[-5:-1:])
print ('[-2::-1]=', mylist[-2::-1])

[4]= 4
[-4]= 2
[0:4]= [0, 1, 2, 3]
[:4]= [0, 1, 2, 3]
[4:]= [4, 5]
[0:4:2]= [0, 2]
[-5:-1:]= [1, 2, 3, 4]
[-2::-1]= [4, 3, 2, 1, 0]

Modify values of elements in a list

In [58]:
mylist[3] = "hello"
print (mylist[3])

mylist[5]="some"
print (mylist[5])

mylist[5] = 1598
print (mylist[5])

hello
some
1598

In [59]:
print (mylist)

[0, 1, 2, 'hello', 4, 1598]

insert a element

In [60]:
mylist.append('my') # add to the end
mylist.extend(['long', 'ok'])
print (mylist)

[0, 1, 2, 'hello', 4, 1598, 'my', 'long', 'ok']

In [61]:
scores = [90, 80, 75, 66]
mylist.insert(1, scores) # add a element to a spesific position
mylist

[0, [90, 80, 75, 66], 1, 2, 'hello', 4, 1598, 'my', 'long', 'ok']

In [62]:
a=[]

delete elements

In [63]:
print (mylist.pop(1)) # pop out the last one element
print (mylist)

[90, 80, 75, 66]
[0, 1, 2, 'hello', 4, 1598, 'my', 'long', 'ok']

check whether an element is in a list, etc.

In [64]:
print( 'my' in mylist)
print ('long' not in mylist)

True
False

In [65]:
mylist.count('my')

1

In [66]:
mylist.index('long')

7

"range" function generate an interger list

In [67]:
print (range(10))
print (range(-5, 5))
print (range(-10, 10, 2))
print (range(16, 10, -1))

range(0, 10)
range(-5, 5)
range(-10, 10, 2)
range(16, 10, -1)

### 2.2 tuple

A tuple is similar to a list, and the elements in the tuple are also indexed. 
The value of the elements in the list can be modified through index, but the value of the elements in the tuple cannot be modified, only read.
The symbol for tuple is ().

In [68]:
studentsTuple = ("stu1", "stu2", "stu3", "stu4", scores)
studentsTuple

('stu1', 'stu2', 'stu3', 'stu4', [90, 80, 75, 66])

In [69]:
try:
    studentsTuple[1] = 'fu'
except TypeError:
    print ('TypeError')

TypeError

In [70]:
scores[1]= 100
studentsTuple

('stu1', 'stu2', 'stu3', 'stu4', [90, 100, 75, 66])

In [71]:
'stu5' in studentsTuple

False

In [72]:
studentsTuple[0:4]

('stu1', 'stu2', 'stu3', 'stu4')

In [73]:
studentsTuple.count('stu1')

1

In [74]:
studentsTuple.index('stu3')

2

In [75]:
len(studentsTuple)

5

### 2.3 set

Set in Python have two main functions:
one is to perform set operations, and the other is to eliminate duplicate elements. 
The format of the collection is: "set()", where () can be a list, dictionary or string, because the string is stored in the form of a list.

In [76]:
studentsSet = set(mylist)
print (studentsSet)

{0, 1, 2, 4, 'ok', 'my', 'hello', 'long', 1598}

In [81]:
studentsSet.add('ok2')
print (studentsSet)

{0, 1, 2, 'ok2', 4, 'ok', 'my', 'hello', 'long', 'stu6', 1598}

In [83]:
studentsSet.remove('ok2')
print (studentsSet)

{0, 1, 2, 4, 'ok', 'my', 'hello', 'long', 'stu6', 1598}

In [85]:
a = set("fdfdfwerwerwerw")
print ('a=', a)

a= {'e', 'r', 'w', 'd', 'f'}

In [86]:
b = set("ertreterte")
print ('b=', b)

b= {'t', 'e', 'r'}

In [87]:
#intersection
x = a & b 
print( 'x=', x)

x= {'e', 'r'}

In [88]:
#union
y = a | b
print ('y=', y)
#Complement
z = a - b
print( 'z=', z)
#remove duplicate elements
new = set(a)
print( z)

y= {'e', 'r', 'w', 't', 'd', 'f'}
z= {'w', 'd', 'f'}
{'w', 'd', 'f'}

### 2.4 dict

Dictionary "dict" in Python is also called an associative list, it uses curly braces "{}" to represent.
Also, it called "map" in other programming languages, using "key-value" storage with extremely fast lookup speed, and the key cannot be repeated.

In [90]:
k = {"name":"stu1", "adress":"Almaty"}
print (k["adress"])

Almaty

In [91]:
print( k.keys())
print( k.values())

dict_keys(['name', 'adress'])
dict_values(['stu1', 'Almaty'])

Add and modify items in a dictionary

In [92]:
k["like"] = "music"
k['name'] = 'stu1'
print (k)

{'name': 'stu1', 'adress': 'Almaty', 'like': 'music'}

In [94]:
#Through the "get()" method provided by "dict", if the "key" does not exist, 
#it can return None, or the value specified by yourself

k.get('edu', -1)

-1

remove "key-value" element

In [78]:
k.pop('like')
print (k)

{'name': 'guangzhou', 'home': 'guilin'}

### 2.5 Conversion of List[] , tuple(),  set(),  and dict{} to each other.

In [95]:
type(mylist)

list

In [96]:
tuple(mylist)

(0, 1, 2, 'hello', 4, 1598, 'my', 'long', 'ok')

In [97]:
list(k)

['name', 'adress', 'like']

In [98]:
# zip can merge list, tuple, set and dictionary.
zl = zip(('A', 'B', 'C'), [1, 2, 3, 4])
print (zl)
print (dict(zl))

<zip object at 0x104141d00>
{'A': 1, 'B': 2, 'C': 3}

## 3 Statements and control flow

A program’s control flow is the order in which the program’s code executes. The control flow of a Python program is regulated by conditional statements, loops, and function calls.

In addition, Python can use semicolons ";" to separate statements, but generally newlines are used to separate statements; statement blocks do not use curly braces "{}", but use indentation (you can use four spaces) to represent

### 3.1 sequential structure

In [83]:
s = '7'
num = int(s) # string -> int
num -= 1 # num = num - 1 
num *= 6 # num = num * 6
print (num)

36

### 3.2 Python Branching Statements

if <True or Flase >:
    statement
elif <True or Flase>：
    statement
else：        
    statement

In [84]:
salary = 1000
if salary > 10000:
    print ("Wow!!!!!!!")
elif salary > 5000:
    print ("That's OK.")
elif salary > 3000:
    print ("5555555555")
else:
    print ("..........")

..........

### 3.3 Loop

while loop

while <True or Flase>:
    statement
else：          
    statement

#else part canbe ignored

In [2]:
a = 1
while a < 10:
    if a <= 5:
        print (a)
    else:
        print ("Hello world")
    a = a + 1
else:
    print ("Done")

1
2
3
4
5
Hello world
Hello world
Hello world
Hello world
Done

- for loop

for (condition) in (set)：
    statement
    
# "set" can be list, dictionary

In [58]:
heights = {'machine learning':226, 'regression':216, 'AI':183}
for i in heights:
    print (i, heights[i])

machine learning 226
regression 216
AI 183

In [59]:
for key, value in heights.items():
    print(key, value)

machine learning 226
regression 216
AI 183

In [60]:
total = 0
for i in range(1, 101):
    total += i#total=total+i
print (total)

5050

### 3.4 break、continue and pass

break: jump out of loop
continue: jump out of the current loop and continue the next loop
pass: The pass statement is used as a placeholder for future code.

In [61]:
for i in range(1, 5):
    if i == 3:
        break
    print (i)

1
2

In [62]:
for i in range(1, 5):
    if i == 3:
        continue
    print (i)

1
2
4

In [63]:
for i in range(1, 5):
    if i == 3:
        pass
    print (i)

1
2
3
4

### 3.5 List Comprehensions

3 ways
- [statement for (variable) in (set)]
- [statement for (variable) in (set) if <'True or False'>]
- [statement if <'True or False'> ekse (statement) for (variable) in (set) ]

In [64]:
fruits = ['"Apple', 'Watermelon', '"Banana"']
[x.strip('"') for x in fruits]

['Apple', 'Watermelon', 'Banana']

In [65]:
# another way
test_list=[]
for x in fruits:
    x=x.strip('"')
    test_list.append(x)
test_list

['Apple', 'Watermelon', 'Banana']

In [66]:
[x ** 2 for x in range(21) if x%2]

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

In [67]:
# another way
test_list=[]
for x in range(21):
    if x%2:
        x=x**2
        test_list.append(x)
test_list

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

In [68]:
[m + n for m in 'ABC' for n in 'XYZ']

['AX', 'AY', 'AZ', 'BX', 'BY', 'BZ', 'CX', 'CY', 'CZ']

In [69]:
# another way
test_list=[]
for m in 'ABC':
    for n in 'XYZ':
        x=m+n
        test_list.append(x)
test_list

['AX', 'AY', 'AZ', 'BX', 'BY', 'BZ', 'CX', 'CY', 'CZ']

In [70]:
d = {'x': 'A', 'y': 'B', 'z': 'C' }
[k + '=' + v for k, v in d.items()]

['x=A', 'y=B', 'z=C']

In [71]:
# another way
test_list=[]
for k, v in d.items():
    x=k + '=' + v
    test_list.append(x)
test_list

['x=A', 'y=B', 'z=C']

## 4 Python Function

Functions are a convenient way to divide your code into useful blocks, allowing us to order our code, make it more readable, reuse it and save some time. Also functions are a key way to define interfaces so programmers can share their code.

### 4.1 use internal functions

In [72]:
str1 = "as"
int1 = -9
print (len(str1))
print (abs(int1))

2
9

In [73]:
fruits = ['Apple', 'Banana', 'Melon']
fruits.append('Grape')
print (fruits)

['Apple', 'Banana', 'Melon', 'Grape']

### 4.2 define function

def funtionname()：
    code
    code
    <return value>

In [74]:
def my_abs(x):
    if x >= 0:
        return x
    else:
        return -x
    
my_abs(-9)

9

can be without return value

In [75]:
def filter_fruit(someList, d):
    for i in someList:
        if i == d:
            someList.remove(i)
        else:
            pass

print (filter_fruit(fruits, 'Melon'))
print (fruits)

None
['Apple', 'Banana', 'Grape']

multiple returen value

In [76]:
def test(i, j):
    k = i * j
    return i, j, k

a , b , c = test(4, 5)
print (a, b , c)
type(test(4, 5))

4 5 20

tuple

### 4.3 Higher-order function

A function is called Higher Order Function if it contains other functions as a parameter or returns a function as an output

In [77]:
myFunction = abs
myFunction(-9)

9

- function as parameter

In [78]:
def add(x, y, f):
    return f(x) + f(y)

add(7, -5, myFunction)

12

-map:

map() function returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)

-reduce: 

At first step, first two elements of sequence are picked and the result is obtained.
Next step is to apply the same function to the previously attained result and the number just succeeding the second element and the result is again stored.
This process continues till no more elements are left in the container.
The final returned result is returned and printed on console.

In [79]:
myList = [2, -3,4]
newlist = map(abs, myList)
list(newlist)

[2, 3, 4]

In [80]:
from functools import reduce
def powerAdd(a, b):
    return pow(a, 2) + pow(b, 2)

reduce(powerAdd, myList)

185

In [81]:
(2**2 + 3**2)**2 + 4**2

185

filter：
The filter() method filters the given sequence with the help of a function that tests each element in the sequence to be true or not.

In [82]:
def is_odd(x):
    return x % 3  # here 0 is false, other is true

filtered = filter(is_odd, myList)
list(filtered)

[2, 4]

The sorted() function returns a sorted list of the specified iterable object.

In [83]:
sorted(myList)

[-3, 2, 4]

- return function and use

In [84]:
def powAdd(x, y):
    def power(n):
        return pow(x, n) + pow(y, n)
    return power

myF = powAdd(3, 4)
myF

In [85]:
myF(2)

25

- Python Lambda Functions

Python Lambda Functions are anonymous function means that the function is without a name.

In [86]:
f = lambda x: x * x
f(4)

16

equal to:

In [87]:
def f(x):
    return x * x

In [88]:
result = map(lambda x: x * x, myList)
list(result)

[4, 9, 16]

can pass multiple variables

In [89]:
reduce(lambda x, y: x + y, map(lambda x: x * x, myList))

29

return function can be Lambda functions

In [90]:
def powAdd1(x, y):
    return lambda n: pow(x, n) + pow(y, n)

lamb = powAdd1(3, 4)
lamb(2)

25

## Keyword in python

In [91]:
import keyword
print (keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

- comment in python

two ways:

    1. #code
    
    2. '''
       code
       '''